.wrapper {
  margin-left: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}
.item {
  font-size: 25px;
  font-weight: bolder;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
